

body {
    font-family: var(--font-family);
}

nav {
    background-color: var(--white);
    color: var(--black);
    top: 20px;
    width: 80%;
    left: 10%;
    position: fixed;
    border-radius: 25px;
    border: 2px solid var(--black);
    box-shadow: 3px 3px 0px var(--black);
    box-sizing: border-box;
    overflow: hidden;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
}

.profile-image{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--black);
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 10px;
}

.nav-links a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.mobile-nav-toggle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin-right: 10px;
}

.mobile-nav-toggle div{
    width: 30px;
    height: 3px;
    background-color: var(--black);
    transition: all ease 0.3s;
}

.mobile-nav-links{
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: all ease 0.3s;
}

.mobile-nav-links a{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    overflow: hidden;
}

.active-mobile-nav-toggle-line2{
    opacity: 0;
}

.active-mobile-nav-toggle-line1{
    transform: rotate(45deg) translate(5px,6px);
}

.active-mobile-nav-toggle-line3{
    transform: rotate(-45deg) translate(6px,-7px);
}

.active-mobile-nav-links{
    height: 150px;
}


