* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}*/

:root {
    --font-family: "JetBrains Mono";
    --font-text: 16px;
    --black: #272727;
    --white: #f8f8f8;
    --blue: #223cb2;
    --red: #d11c1c;
    --green: #2b9422;
    --orange: #ff751f;
}

html{
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

nav {
    background-color: var(--white);
    color: var(--black);
    top: 20px;
    width: 80%;
    left: 10%;
    position: sticky;
    border-radius: 25px;
    border: 2px solid var(--black);
    box-shadow: 3px 3px 0px var(--black);
    box-sizing: border-box;
    overflow: hidden;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
}

.profile-image{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: var(--black);
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 10px;
}

.nav-links a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.mobile-nav-toggle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin-right: 10px;
}

.mobile-nav-toggle div{
    width: 30px;
    height: 3px;
    background-color: var(--black);
    transition: all ease 0.3s;
}

.mobile-nav-links{
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: all ease 0.3s;
}

.mobile-nav-links a{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    overflow: hidden;
}

.active-mobile-nav-toggle-line2{
    opacity: 0;
}

.active-mobile-nav-toggle-line1{
    transform: rotate(45deg) translate(5px,6px);
}

.active-mobile-nav-toggle-line3{
    transform: rotate(-45deg) translate(6px,-7px);
}

.active-mobile-nav-links{
    height: 150px;
}

#hero {
    background-color: var(--blue);
    height: 100vh;
    width: 100%;
}

#experience{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
}

#projects {
    background-color: var(--green);
    height: 100vh;
    width: 100%;
}

#contact{
    background-color: var(--orange);
    height: 100vh;
    width: 100%;
}
/*Extra Small Devices*/
@media (max-width: 480px) {
    nav{
        width: 90%;
        left: 5%;
    }
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
   
}

/*Small Devices*/
@media  (max-width: 768px) and (min-width: 481px)  {
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
}

/*Medium Devices*/
@media (max-width: 1024px) and(min-width: 769px)   {
    .nav-links{
        display: flex;
    }
    .mobile-nav-toggle{
        display: none;
    }
}

/*Large Devices*/
@media (min-width: 1024px) {
   .nav-links{
        display: flex;
    }
    .mobile-nav-toggle{
        display: none;
    }
}
